{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<script>
    document.getElementById('home').className = 'nav-link';
    document.getElementById('data').className = 'nav-link';
    document.getElementById('project').className = 'nav-link active';
    document.getElementById('project').href = 'javascript: void(0)';
    document.getElementById('person').className = 'nav-link';
    document.getElementById('summary').className = 'nav-link';
</script>

<div>

    <p></p>

    <h3>Enter Project Data</h3>

    <form action="{{ url_for('project_data_submitted') }}" method="post" class="needs-validation" role="form" novalidate>

        <div class="form-row">
            <div class="form-group col-md-10">
                <label class="control-label" for="committee_name">Name of Committee</label>
                <select class="form-control" id="committee_name" name="committee_name" data-size="10" data-live-search="true" required title="Choose a committee..." onchange="changeProjects()">
                    {% for i in range(committees | length) %}
                    <option value="{{committees[i]}}">{{committees[i]}}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select a value.
                </div>
            </div>

            <script>
                function changeProjects() {
                    document.getElementById('project_select').className = 'form-group col-md-12'
                    document.getElementById('project_other_div').style.display = 'none'
                    projects_data = JSON.parse('{{projects_data | tojson}}');
                    let committee_name = document.getElementById('committee_name').value
                    let projects_list = projects_data[committee_name]
                    let projects_select = document.getElementById('project_name')
                    $("#project_name").empty();
                    $("#project_name").selectpicker('refresh');
                    if (projects_list) {
                        for (let i = 0; i < projects_list.length; i++) {
                            var newOption = document.createElement("option");
                            newOption.value = projects_list[i];
                            newOption.text = projects_list[i];
                            projects_select.append(newOption);
                            $("#project_name").selectpicker("refresh");
                        }
                    }
                    var newOption = document.createElement("option");
                    newOption.value = 'Other';
                    newOption.text = 'Other';
                    projects_select.append(newOption);
                    $("#project_name").selectpicker("refresh");
                }
            </script>

            <div class="form-group col-md-2">
                <label class="control-label" for="date">Today's Date</label>
                <input class="form-control" id="date" name="date" type="date" required>
                <div class="invalid-feedback">
                    Please enter a date.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12" id="project_select">
                <label class="control-label" for="project_name">Name of Project</label>
                <select class="form-control" id="project_name" name="project_name" data-size="10" data-live-search="true" required title="Choose a project..." onchange="addOtherField()">
                </select>
                <div class="invalid-feedback">
                    Please select a value.
                </div>
            </div>

            <script>
                function addOtherField() {
                    let project_selected = document.getElementById('project_name').value
                    if (project_selected === 'Other') {
                        document.getElementById('project_other_div').style.display = 'block'
                        document.getElementById('project_select').className = 'form-group col-md-6'
                    } else {
                        document.getElementById('project_other_div').style.display = 'none'
                        document.getElementById('project_select').className = 'form-group col-md-12'
                    }
                }
            </script>

            <div class="form-group col-md-6" id="project_other_div" style="display:none">
                <label class="control-label" for="project_other">New Project Name</label>
                <input class="form-control" id="project_other" name="project_other" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label class="control-label" for="num_hours_worked">Number of Hours Worked Since Last Meeting</label>
                <input class="form-control" id="num_hours_worked" name="num_hours_worked" type="number" min="0" step="1" value="" required>
                <div class="invalid-feedback">
                    Please enter a positive integer.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="notes">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" style="background-color:#6b34eb;border-color:#6b34eb">

    </form>

    <br>
    <br>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
</script>

<script>
    (function () { 'use strict'

    var forms = document.querySelectorAll('.needs-validation')

    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>

{% endblock %}