{% extends 'base.html' %}
{% block content %}

<script>
    document.getElementById('home').className = 'nav-link';
    document.getElementById('data').className = 'nav-link';
    document.getElementById('project').className = 'nav-link';
    document.getElementById('person').className = 'nav-link active';
    document.getElementById('person').href = 'javascript: void(0)';
    document.getElementById('summary').className = 'nav-link';
</script>

<style>
    #report {
        text-align: center;
        border-radius: 7.5px;
        background-color: rgb(236, 236, 236);
        padding: 5px;
    }
    .col-3-5 {
        background-color: #8558e795;
        border-radius: 25px;
        width: 30.5%;
        padding: 7px;
    }
    .col-5-5 {
        background-color: #8558e795;
        border-radius: 25px;
        width: 46.25%;
        padding: 7px;
    }
    .col-11-5 {
        background-color: #8558e795;
        border-radius: 25px;
        width: 93.25%;
        padding: 7px;
    }
    .number {
        font-size: 37.5px;
    }
    .heading {
        font-size: 20px;
    }
    #admin-met-with-div ::selection {
         background: grey;
    }
    #title-div ::selection {
         background: grey;
    }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

<div class="content">
    <h5>Select a Stakeholder</h5>
    <select class="form-control" id="stakeholder" name="stakeholder" data-size="10" data-live-search="true" required title="Choose a stakeholder..." onchange="generate_report()">
        {% for i in range(stakeholders | length) %}
        <option value="{{stakeholders[i]}}">{{stakeholders[i]}}</option>
        {% endfor %}
    </select>

    <p></p>

    <p id="error-message" style="color:#8558e7;"></p>

    <div id="report" style="display:none;position:relative">
        <button id="pdf-export" data-html2canvas-ignore onclick="genPDF()" class="btn btn-primary" style="background-color:#6b34eb;border-color:#6b34eb;position:absolute;top:8px;right:6px;">Export Report as PDF</button>
        <div id="title-div">
            <h3 id="title"></h3>
        </div>
        <p></p>
            <div class="row justify-content-center">
                <p data-html2canvas-ignore></p>
                <div class="col-3-5 mr-md-3">
                    <div class="heading"># Meetings with Admin per week</div>
                    <div id="average_admin" class="number"></div>
                </div>
                <div class="col-3-5 mr-md-3">
                    <div class="heading"># Meetings with Students per week</div>
                    <div id="average_students" class="number"></div>
                </div>
                <div class="col-3-5 mr-md-3">
                    <div class="heading"># Committee Meetings per week</div>
                    <div id="average_committee" class="number"></div>
                </div>
            </div>
            <p></p>
            <div class="row justify-content-center">
                <div class="col-3-5 mr-md-3">
                    <div class="heading"># Meetings with Other Committees per week</div>
                    <div id="average_other_committee" class="number"></div>
                </div>
                <div class="col-3-5 mr-md-3">
                    <div class="heading"># Hours Worked on ASG per week</div>
                    <div id="average_num_hours" class="number"></div>
                </div>
                <div class="col-3-5 mr-md-3">
                    <div class="heading">Average Rating of Feeling Towards ASG</div>
                    <div id="average_rating" class="number"></div>
                </div>
            </div>
            <p></p>
            <div class="row justify-content-center">
                <div class="col-11-5 mr-md-3">
                    <div class="heading">Number of Hours Worked vs. Time</div>
                    <h5 id="hours-error-message" style="color:whitesmoke"></h5>
                        <canvas id="hours-worked-graph" width="800"></canvas>
                </div>
            </div>
            <p></p>
            <div class="row justify-content-center">
                <div class="col-11-5 mr-md-3" id="admin-met-with-div">
                    <div class="heading">Admin Met With</div>
                    <h5 id="admin-error-message" style="color:whitesmoke"></h5>
                        <canvas id="admin_met_with" width="800"></canvas>
                </div>
            </div>
            <p></p>
            <div class="row justify-content-center">
                <div class="col-11-5 mr-md-3">
                    <div class="heading">Are you recieveing support from ASG exec?</div>
                        <canvas id="asg_support" width="700"></canvas>
                </div>
            </div>
            <p></p>
            <div data-html2canvas-ignore class="row justify-content-center">
                <div class="col-11-5 mr-md-3">
                    <div class="heading" style="margin-bottom:5px">Notes from Meeting</div>
                    <div id="accordion" style="width:80%;margin:auto;">
                    </div>
                    <p></p>
                </div>
            </div>
            <p></p>
    </div>
    <br>
    <br>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

<script>
    var admin_met_with_canvas;
    var hours_worked_canvas;
    var asg_support_canvas;
    function generate_report() {
        var stakeholder = document.getElementById('stakeholder').value;
        let is_in_db = true
        data = JSON.parse('{{data | tojson}}');
        num_meetings = 0
        dates_lst = []
        tot_admin = 0
        tot_students = 0
        tot_committee = 0
        tot_other_committee = 0
        tot_num_hours = 0
        num_hours_lst = []
        tot_rating = 0
        tot_yes = 0
        tot_no = 0
        admin_dict = {}
        last_date_added = null
        last_date_found = false
        first_date_added = null
        curr_entry = 0
        document.getElementById('accordion').innerHTML = ''
        for (let i = 0; i < data.length; i++) {
            curr_row = data[i];
            if (curr_row.stakeholder === stakeholder) {
                curr_entry++
                notes = curr_row.notes
                let div = document.createElement("div")
                div.innerHTML = `<div class="card" style="margin:auto;border-radius:10px;">
                          <div class="card-header" id="heading${curr_entry}">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse${curr_entry}" style="color:#6b34eb;font-size:20px;">
                                ${curr_row.date.slice(0,16)}
                              </button>
                            </h5>
                          </div>
                          <div id="collapse${curr_entry}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              ${notes.replace(/newlinehere/g,"<br>")}
                            </div>
                          </div>
                        </div>`
                document.getElementById('accordion').append(div);
                dates_lst.push(curr_row.date.slice(0,16))
                if (!last_date_found) {
                    last_date_found = true
                    last_date_added = new Date(curr_row.date.slice(0,16))
                } else {
                    first_date_added = new Date(curr_row.date.slice(0,16))
                }
                num_meetings++
                tot_admin += curr_row.num_meetings_admin_since_last
                tot_students += curr_row.num_meetings_students
                tot_committee += curr_row.num_committee_meetings
                tot_other_committee += curr_row.num_meetings_other_committees
                tot_num_hours += curr_row.num_hours_worked
                num_hours_lst.push(curr_row.num_hours_worked)
                tot_rating += curr_row.asg_rating
                if (curr_row.recieveing_support === 'Yes') {
                    tot_yes++
                } else {
                    tot_no++
                }
                if (curr_row.admin_met_with != null) {
                    admin_list = curr_row.admin_met_with.split(",").map(function (value) {
                        return value.trim();
                    });
                    admin_list = admin_list.filter(function(x) {
                        return x !== '';
                    });
                    admin_num_list = curr_row.admin_met_with_numbers.split(",").map(function (value) {
                        return value.trim();
                    });
                    admin_num_list = admin_num_list.filter(function(x) {
                        return x !== '';
                    });
                    for (let j = 0; j < admin_list.length; j++) {
                        curr_admin = admin_list[j]
                        if (curr_admin in admin_dict) {
                            admin_dict[curr_admin] += Number(admin_num_list[j])
                        } else {
                            admin_dict[curr_admin] = Number(admin_num_list[j])
                        }
                    }
                }
            }
        }
        if (first_date_added == null) {
            first_date_added = last_date_added
        }
        if (first_date_added != last_date_added) { // if 2+ dates in the db
            if (hours_worked_canvas) {
                hours_worked_canvas.destroy();
            }
            hours_worked_canvas = new Chart(document.getElementById("hours-worked-graph"), {
                type: 'line',
                data: {
                    labels: dates_lst,
                    datasets: [{ 
                        data: num_hours_lst,
                        label: "Number of Hours Worked",
                        borderColor: "rgba(107, 52, 235)",
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'day',
                            unitStepSize: 1,
                            displayFormats: {
                                'millisecond': 'MMM DD',
                                'second': 'MMM DD',
                                'minute': 'MMM DD',
                                'hour': 'MMM DD',
                                'day': 'MMM DD',
                                'week': 'MMM DD',
                                'month': 'MMM DD',
                                'quarter': 'MMM DD',
                                'year': 'MMM DD',
                            }
                        },
                        display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date of Meeting with ' + stakeholder
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Number of meetings'
                            },
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                    },
                }
            });
            document.getElementById('hours-worked-graph').style.display = 'block'
            document.getElementById('hours-error-message').style.display = 'none';
        } else { // 0 or 1 dates in the db
            document.getElementById('hours-worked-graph').style.display = 'none'
            document.getElementById('hours-error-message').textContent = stakeholder + " doesn't have enough data to graph!"
            document.getElementById('hours-error-message').style.display = 'block';
        }
        if (num_meetings == 0) {
            is_in_db = false
        } else if (num_meetings == 1) {
            document.getElementById('average_admin').textContent = +tot_admin.toFixed(2);
            document.getElementById('average_students').textContent = +tot_students.toFixed(2);
            document.getElementById('average_committee').textContent = +tot_committee.toFixed(2);
            document.getElementById('average_other_committee').textContent = +tot_other_committee.toFixed(2);
            document.getElementById('average_num_hours').textContent = +tot_num_hours.toFixed(2);
            document.getElementById('average_rating').textContent = +tot_rating.toFixed(2);
            if (asg_support_canvas) {
                asg_support_canvas.destroy();
            }
            asg_support_canvas = new Chart(document.getElementById("asg_support"), {
                type: 'doughnut',
                data: {
                    labels: ["Yes", "No"],
                    datasets: [{
                        data: [tot_yes, tot_no],
                        backgroundColor: ["rgba(107, 52, 235)", "rgba(234, 230, 242)"]
                    }]
                }
            });
            admin_vals = []
            for (var key in admin_dict){
                admin_vals.push(admin_dict[key])
            }
            if (admin_vals.length > 0) {
                if (admin_met_with_canvas) {
                    admin_met_with_canvas.destroy();
                }
                admin_met_with_canvas = new Chart(document.getElementById("admin_met_with"), {
                    type: 'bar',
                    data: {
                    labels: Object.keys(admin_dict),
                    datasets: [
                        {
                        label: "Number of meetings",
                        backgroundColor: "rgba(107, 52, 235)",
                        data: admin_vals
                        }
                    ]},
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                document.getElementById('admin-error-message').style.display = 'none';
                document.getElementById('admin_met_with').style.display = 'block';
            } else {
                document.getElementById('admin-error-message').textContent = stakeholder + " hasn't met with any admin yet!"
                document.getElementById('admin-error-message').style.display = 'block';
                document.getElementById('admin_met_with').style.display = 'none';
            }
        } else {
            let diff_time = Math.abs(last_date_added - first_date_added);
            let diff_days = Math.ceil(diff_time / (1000 * 60 * 60 * 24)) + 7; // add 7 because the first responses considered the previous week of ASG week 
            let num_weeks_between = diff_days / 7;
            average_admin = tot_admin / num_weeks_between
            document.getElementById('average_admin').textContent = +average_admin.toFixed(2);
            average_students = tot_students / num_weeks_between
            document.getElementById('average_students').textContent = +average_students.toFixed(2);
            average_committee = tot_committee / num_weeks_between
            document.getElementById('average_committee').textContent = +average_committee.toFixed(2);
            average_other_committee = tot_other_committee / num_weeks_between
            document.getElementById('average_other_committee').textContent = +average_other_committee.toFixed(2);
            average_num_hours = tot_num_hours / num_meetings
            document.getElementById('average_num_hours').textContent = +average_num_hours.toFixed(2);
            average_rating = tot_rating / num_meetings
            document.getElementById('average_rating').textContent = +average_rating.toFixed(2);
            if (asg_support_canvas) {
                asg_support_canvas.destroy();
            }
            asg_support_canvas = new Chart(document.getElementById("asg_support"), {
                type: 'doughnut',
                data: {
                    labels: ["Yes", "No"],
                    datasets: [{
                        data: [tot_yes, tot_no],
                        backgroundColor: ["rgba(107, 52, 235)", "rgba(234, 230, 242)"]
                    }]
                }
            });
            admin_vals = []
            for (var key in admin_dict){
                admin_vals.push(admin_dict[key])
            }
            if (admin_vals.length > 0) {
                if (admin_met_with_canvas) {
                    admin_met_with_canvas.destroy();
                }
                admin_met_with_canvas = new Chart(document.getElementById("admin_met_with"), {
                    type: 'bar',
                    data: {
                    labels: Object.keys(admin_dict),
                    datasets: [
                        {
                        label: "Number of meetings",
                        backgroundColor: "rgba(107, 52, 235)",
                        data: admin_vals
                        }
                    ]},
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                document.getElementById('admin-error-message').style.display = 'none';
                document.getElementById('admin_met_with').style.display = 'block';
            } else {
                document.getElementById('admin-error-message').textContent = stakeholder + " hasn't met with any admin yet!"
                document.getElementById('admin-error-message').style.display = 'block';
                document.getElementById('admin_met_with').style.display = 'none';
            }
        }
        if (!is_in_db) {
            document.getElementById('error-message').textContent = stakeholder + ' has no data yet!';
            document.getElementById('report').style.display = 'none';
            document.getElementById('error-message').style.display = 'block';
        } else {
            document.getElementById('title').textContent = stakeholder + ' Performance Report';
            document.getElementById('report').style.display = 'block';
            document.getElementById('error-message').style.display = 'none';
        }
    }
</script>

<script>
    function genPDF() {
        stakeholder = document.getElementById('title').textContent.slice(0,-19).replace(' ','')
        html2canvas(document.getElementById('report')).then(function (canvas) {
            var wid;
            var hgt;
            var img = canvas.toDataURL("image/png", wid = canvas.width, hgt = canvas.height);
            var hratio = hgt / wid;
            const doc = new jsPDF();
            var width = doc.internal.pageSize.width;
            var height = doc.internal.pageSize.height;
            var height = width * hratio;
            doc.addImage(img, 'JPEG', width*.05, 10, width*.90, height*.90, 'FAST');
            doc.save(`${stakeholder}PerformanceReport.pdf`);     
        });
    }
</script>

{% endblock %}